/* Typography */
body {
    color: #ffa02f; 
    color: #09357A;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    overflow: hidden;
}


/* Responsive */
@media (max-width: 400px) {
    body {
        font-size: 50%;
    }
}
@media (min-width: 980px) {
    body {
        font-size: 62.5%;
    }
}
@media (min-width: 1176px) {
    body {
        font-size: 70%;
    }
}
@media (min-width: 1372px) {
    body {
        font-size: 80%;
    }
}
@media (min-width: 1568px) {
    body {
        font-size: 90%;
    }
}


/* Utility */
.eiw-hidden {
    display: none;
}


/* Info-points, which mark places on the map. */
.eiw-info-point {
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hidden in ‘view B’ */
    transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s, z-index 0.5s;
    z-index: -5;
}
.eiw-view-a .eiw-info-point {
    opacity: 1;
    transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s, z-index 0;
    z-index: 0;
}

.eiw-pin-lightbulb {
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    margin-top: -2.5em;
    border-radius: 3em;
    background: #ffa02f;
}
.eiw-pin-lightbulb:hover,
.eiw-pin-lightbulb.eiw-active {
    opacity: 1;
    width: 6em;
    height: 6em;
    margin-left: -3em;
    margin-top: -3em;
}
.eiw-pin-lightbulb img {
    width: 100%;
    height: auto;
}
.eiw-pin-numbered {
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    margin-top: -2.5em;
    border-radius: 3em;
}
.eiw-pin-numbered:hover,
.eiw-pin-numbered.eiw-active {
    opacity: 1;
    width: 6em;
    height: 6em;
    margin-left: -3em;
    margin-top: -3em;
}
.eiw-pin-numbered img {
    width: 100%;
    height: auto;
}
.eiw-pin-numbered span {
    position: absolute;
    width: 5em;
    margin-top: 1.9em;
    text-align: center;
    transition: width 0.5s;
}
.eiw-pin-numbered:hover span,
.eiw-pin-numbered.eiw-active span {
    margin-top: 2em;
    width: 6em;
}
.eiw-pin-hidden {
    /*display: none;*/
    background: #ccc;
}




/* Popup */
.eiw-popup {
    position: absolute;
    background: #fff;
    left: 50%;
    margin-left: -364px;
    width: 718px;
    top: 5em;
    bottom: 20em;
    border-left: 1em solid #ffa02f;
    z-index: 20;
}
.eiw-dismiss {
    float: right;
    padding: 0.2em 0.4em;
    background: #ffa02f;
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    cursor: pointer;
}
.eiw-title {
    padding: 0 1em;
    margin: 0.65em 0; 
}
.eiw-caption {
    margin: 0 1em;
    border-bottom: 0.5em solid #ffa02f;
    color: #ffa02f;
    text-transform: uppercase;
    font-size: 1.5em;
}
.eiw-tags tt {
    display: none; /* tags are for dev only - never shown to the user */
}


/* Carousel */
.eiw-carousel {
    background: #09357A;
    clear: both; 
}
.eiw-carousel .slick-slide {
    text-align: center;
}
.eiw-carousel .slick-slide img {
    display: inline;
}



/* Tagmenu - shown on the left */
.eiw-tagmenu {
    position: absolute;
    padding: 1em;
    left: 0;
    right: 50%;
    top: 5em;
    bottom: 13em;
    background: #fff;
    border-left: 1em solid #ffa02f;
}
.eiw-tagmenu ul {
    height: auto!important;
}
.eiw-tagmenu li {
    cursor: pointer;
}
.eiw-tagmenu li:hover {
    color: red;
}



/* Xtramenu - shown on the right */
.eiw-xtramenu {
    position: absolute;
    padding: 1em;
    left: 50%;
    right: 0;
    top: 5em;
    bottom: 13em;
    background: #fff;
    border-right: 1em solid #09357A;
}


/* Background Images */

.eiw-bkgnd-a {
    width: 100%;
    height: 400px; /* will be set by JavaScript */
    background: #09357A;
    cursor: grab;
}
.eiw-bkgnd-a img,
.eiw-bkgnd-b img {
    /*width: 100%;
    height: auto;*/
}
            .eiw-bkgnd-a { opacity: 0; z-index:-2; transition: opacity 0.5s 0.5s; }
.eiw-view-a .eiw-bkgnd-a { opacity: 1; z-index:-1; transition: opacity 0.5s; }
            .eiw-bkgnd-b { opacity: 1; z-index:-1; transition: opacity 0.5s; }
.eiw-view-a .eiw-bkgnd-b { opacity: 0; z-index:-2; transition: opacity 0.5s 0.5s; }


/* Header */

.eiw-header-a,
.eiw-header-b {
    position: fixed;
    top: 0.2em;
    right: 0.4em;
    transition: opacity 0.5s;
    text-transform: uppercase;
    color: #fff;
    z-index: 40;
}
            .eiw-header-a { opacity: 0; }
.eiw-view-a .eiw-header-a { opacity: 1; }
            .eiw-header-b { opacity: 1; }
.eiw-view-a .eiw-header-b { opacity: 0; }


/* Footer */

.eiw-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 13.5em;
    background: #fff;
    text-transform: uppercase;
    z-index: 30;
}
.eiw-footer div {
    overflow: hidden;
}

.eiw-tagmenu-toggle {
    height: 5.5em;
    width: 51%;
    cursor: pointer;
    background: #ffa02f;
    color: #fff;
}
.eiw-tagmenu-toggle > span {
    display: table;
    width: 100%;
    height: 5em;
}
.eiw-tagmenu-toggle > span > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.eiw-tagmenu-toggle .eiw-text {
    padding: 0 0.5em;
    font-size: 1.5em;
}
.eiw-tagmenu-toggle .eiw-icon {
    width: 5em;
}
.eiw-tagmenu-toggle img {
    float: left;
    width: 5em;
    height: auto;
    transition: opacity 0.5s;
}
.eiw-tagmenu-toggle       img.eiw-hover   { margin-left: -5em; }
.eiw-tagmenu-toggle       img.eiw-hover   { opacity: 0; }
.eiw-tagmenu-toggle:hover img.eiw-default { opacity: 0; }
.eiw-tagmenu-toggle:hover img.eiw-hover   { opacity: 1; }

.eiw-xtramenu-toggle {
    height: 5.5em;
    width: 50%;
    margin-top: -5.5em;
    margin-left: 50%;
    background: #09357A;
    color: #fff;
    cursor: pointer;
}
.eiw-xtramenu-toggle > span {
    display: table;
    width: 100%;
    height: 5em;
}
.eiw-xtramenu-toggle > span > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.eiw-xtramenu-toggle .eiw-text {
    padding: 0 0.5em;
    font-size: 1.5em;
}
.eiw-xtramenu-toggle .eiw-icon {
    width: 5em;
}
.eiw-xtramenu-toggle img {
    float: right;
    width: 5em;
    height: auto;
    transition: opacity 0.5s;
}
.eiw-xtramenu-toggle       img.eiw-hover   { margin-left: -5em; }
.eiw-xtramenu-toggle       img.eiw-hover   { opacity: 0; }
.eiw-xtramenu-toggle:hover img.eiw-default { opacity: 0; }
.eiw-xtramenu-toggle:hover img.eiw-hover   { opacity: 1; }

.eiw-changeview {
    height: 8.5em;
    width: 5em;
    padding-right: 0.5em;
    margin-top: -0.5em;
    text-align: center;
    background: #ffa02f;
    color: #fff;
    cursor: pointer;
}
.eiw-changeview img {
    width: 5em;
    height: auto;
}

.eiw-gps {
    position: absolute;
    height: 8.5em;
    width: 5em;
    padding-left: 0.5em;
    right: 0;
    margin-top: -8.5em;
    text-align: center;
    color: #fff;
    background: #09357A;
}
.eiw-gps img {
    width: 5em;
    height: auto;
}

.eiw-instructions {
    position: absolute;
    height: 8.5em;
    left: 5em;
    right: 5em;
    margin-top: -8.5em;
    text-align: center;
    background: #fff;
    color: #ffa02f;
}
.eiw-instructions img.eiw-icon-pin {
    width: 2em;
    height: auto;
}
.eiw-instructions img.eiw-icon-logo {
    width: 3em;
    height: auto;
}
.eiw-instructions .eiw-text {
    display: inline-block;
    padding: 1em;
}

