/* Typography */
body {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}


/* Responsive */
@media (min-width: 980px) { /* eg iPad 2 landscape */
    body {
        font-size: 62.5%;
    }
}
@media (min-width: 1176px) {
    body {
        font-size: 70%;
    }
}
@media (min-width: 1372px) {
    body {
        font-size: 80%;
    }
}
@media (min-width: 1568px) {
    body {
        font-size: 90%;
    }
}


/* Utility */
.eiw-hidden {
    display: none;
}


/* Info-points, which mark places on the map. */
.eiw-info-point {
    position: absolute;
    width: 5em;
    height: 10em;
    margin-left: -2.5em;
    margin-top: -5em;
    cursor: pointer;
    opacity: 0.9;
    -webkit-transition: opacity 0.3s, width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
    -moz-transition: opacity 0.3s, width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
    transition: opacity 0.3s, width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
}
.eiw-info-point:hover,
.eiw-info-point.eiw-active {
    opacity: 1;
    width: 6em;
    height: 12em;
    margin-left: -3em;
    margin-top: -6em;
}
.eiw-pin-numbered {
    border: 2px solid blue;
}
.eiw-pin-lightbulb {
    border: 2px solid yellow;
}
.eiw-pin-hidden {
    display: none;
}




/* Popup */
.eiw-popup {
    position: absolute;
    background: #eee;
    left: 5em;
    right: 5em;
    top: 20em;
    bottom: 20em;
    z-index: 20;
}
.eiw-dismiss {
    cursor: pointer;
}
.eiw-tags tt { /* @todo hide tags */
    padding: 0 1em;
}



/* Tagmenu - shown on the right */
.eiw-tagmenu {
    position: absolute;
    background: #eee;
    left: 0;
    width: 50%;
    top: 15em;
    bottom: 15em;
}
.eiw-tagmenu ul {
    height: auto!important;
}
.eiw-tagmenu li {
    cursor: pointer;
}
.eiw-tagmenu li:hover {
    color: red;
}



/* Xtramenu - shown on the right */
.eiw-xtramenu {
    position: absolute;
    background: #eee;
    right: 0;
    width: 50%;
    top: 15em;
    bottom: 15em;
}



/* Footer */

.eiw-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15.5em;
    background: #fff;
}
.eiw-footer div {
    overflow: hidden;
}

.eiw-tagmenu-toggle {
    background: red;
    height: 5.5em;
    width: 51%;
    cursor: pointer;
}
.eiw-xtramenu-toggle {
    background: green;
    height: 5.5em;
    width: 50%;
    margin-top: -5.5em;
    margin-left: 50%;
    cursor: pointer;
}
.eiw-changeview {
    background: yellow;
    height: 10.5em;
    width: 5em;
    padding-right: 0.5em;
    margin-top: -0.5em;
}
.eiw-gps {
    position: absolute;
    background: blue;
    height: 10.5em;
    width: 5em;
    padding-left: 0.5em;
    right: 0;
    margin-top: -10.5em;
}
.eiw-instructions {
    position: absolute;
    background: cyan;
    height: 10.5em;
    left: 5em;
    right: 5em;
    margin-top: -10.5em;
}
