/* Typography */
body {
    background: #fff; 
    color: #09357A;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
    overflow: hidden;
}
p, h1, h2, h3, h4, h5, h6, span, div, ul, li {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default; /* not `text` */
}

/* Responsive */
@media (max-width: 400px) {
    body {
        font-size: 50%;
    }
}
@media (min-width: 980px) and (min-height: 500px) {
    body {
        font-size: 62.5%;
    }
}
@media (min-width: 1176px) and (min-height: 650px) {
    body {
        font-size: 70%;
    }
}
@media (min-width: 1372px) and (min-height: 700px) {
    body {
        font-size: 80%;
    }
}
@media (min-width: 1568px) and (min-height: 800px) {
    body {
        font-size: 90%;
    }
}


/* Utility */
.eiw-hidden {
    display: none!important;
}


/* Info-points, which mark places on the map. */
.eiw-info-point {
    position: absolute;
    cursor: pointer;
    font-size: 0.6em;
    opacity: 0; /* hidden in ‘view B’ */
    transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s, z-index 0.5s;
    z-index: -5;
}
.eiw-view-a .eiw-info-point {
    opacity: 1;
    transition: width 0.5s, height 0.5s, margin-left 0.5s, margin-top 0.5s, z-index 0;
}
.eiw-view-a .eiw-pin-lightbulb.eiw-info-point {
    z-index: 0;
}
.eiw-view-a .eiw-pin-numbered.eiw-info-point {
    z-index: 1;
}


.eiw-pin-lightbulb {
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    margin-top: -2.5em;
    border-radius: 3em;
    background: #ffa02f;
}
.eiw-pin-lightbulb:hover,
.eiw-pin-lightbulb.eiw-active {
    opacity: 1;
    width: 6em;
    height: 6em;
    margin-left: -3em;
    margin-top: -3em;
}
.eiw-pin-lightbulb img {
    width: 100%;
    height: auto;
}
.eiw-pin-numbered {
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
    margin-top: -6em;
    border-radius: 3em;
}
.eiw-pin-numbered:hover,
.eiw-pin-numbered.eiw-active {
    opacity: 1;
    width: 6em;
    height: 6em;
    margin-left: -3em;
    margin-top: -7.5em;
}
.eiw-pin-numbered img {
    width: 100%;
    height: auto;
}
.eiw-pin-hidden {
    display: none;
    background: #ccc;
}


/* Popup */
.eiw-popup-shield {
    position: fixed;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
    background: rgba(0,0,0,0.5);
    z-index: 40;
    transition: opacity 0.5s, z-index step-start 0.5s;
}
.eiw-popup {
    position: absolute;
    display: table;
    background: #fff;
    left: 50%;
    margin-left: -364px;
    width: 718px;
    top: 3em;
    border-left: 1.5em solid #ffa02f;
    z-index: 40;
    transition: opacity 0.5s, top 0.5s, height 0.5s, z-index step-start 0.5s;
}
.eiw-popup-shield.eiw-hidden {
    display: block!important; /* override `none`, above */
}
.eiw-popup.eiw-hidden {
    display: table!important; /* override `none`, above */
}
.eiw-popup-shield.eiw-hidden,
.eiw-popup.eiw-hidden {
    opacity: 0;
    z-index: -10;
    transition: opacity 0.5s, top 0.5s, height 0.5s, z-index step-end 0.5s;
}

.eiw-popup > div {
    display: table-row;
}
.eiw-popup > div > div {
    display: table-cell;
    max-width: 718px;
}
.eiw-popup.eiw-carousel-hidden {
    top: 8em;
}
.eiw-dismiss { /* also used in return-to-map button `eiw-rtn2map` */
    float: right;
    padding: 0.2em 0.4em;
    background: #ffa02f;
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    cursor: pointer;
    transition: background-color 0.5s;
}
.eiw-dismiss:hover {
    background: #09357A;
}
.eiw-title {
    padding: 0 3em 0 1em;
    margin: 0.65em 0; 
}
.eiw-caption h4 {
    margin: 0 1em;
    padding: 0.5em 0;
    border-bottom: 0.2em solid #ffa02f;
    color: #ffa02f;
    text-transform: uppercase;
    font-size: 1.5em;
}
.eiw-content {
    clear: both;
    height: auto;
    margin-top: 0.5em;
    padding: 0 1.5em;
    overflow-y: auto;
    color: #000;
}
.eiw-content p {
    font-size: 1.25em;
    line-height: 1.4em;
}
.eiw-content p:first-child {
    margin-top: 0;
}
.eiw-content p:last-child {
    margin-bottom: 2em;
}

.eiw-tags tt {
    display: none; /* tags are for dev only - never shown to the user */
}
/*
@media (min-height: 500px) {
    .eiw-popup {
        bottom: 12.5em;
    }
    .eiw-popup.eiw-carousel-hidden {
        bottom: 22.5em;
    }
}
@media (min-height: 650px) {
    .eiw-popup {
        bottom: 14em;
    }
    .eiw-popup.eiw-carousel-hidden {
        bottom: 24em;
    }
}
@media (min-height: 700px) {
    .eiw-popup {
        bottom: 16em;
    }
    .eiw-popup.eiw-carousel-hidden {
        bottom: 26em;
    }
}
@media (min-height: 800px) {
    .eiw-popup {
    }
}*/


/* Carousel */
.eiw-popup.carousel-hidden .eiw-carousel {
    display: none;
}
.eiw-carousel {
    background: #09357A;
    clear: both; 
}
.eiw-carousel .slick-slide {
    height: 404px;
    text-align: center;
}
.eiw-carousel .slick-slide img,
.eiw-carousel .slick-slide video {
    display: inline;
    width: 718px;
    height: 404px;
}
.eiw-arrows > img {
    position: absolute;
    margin-top: -255px;
    width: 65px;
    height: 100px;
}
.eiw-arrow-glow-left,
.eiw-arrow-left {
    margin-left: 0px;
}
.eiw-arrow-glow-right,
.eiw-arrow-right {
    margin-left: 654px;
}
.eiw-arrow-left,
.eiw-arrow-right {
    position: absolute; /* for Opera */
    z-index: 40;
    cursor: pointer;
    transition: opacity 0.5s;
}
@keyframes pulse_animation {
	0%   { opacity: 0; }
	10%  { opacity: 0.2; }
	25%  { opacity: 0.5; }
	50%  { opacity: 0.55; }
	75%  { opacity: 0.5; }
	90%  { opacity: 0.2; }
	100% { opacity: 0; }
}
.eiw-arrow-glow-left,
.eiw-arrow-glow-right {
    animation: 1s linear infinite pulse_animation;
}
.eiw-arrow-left.slick-disabled,
.eiw-arrow-right.slick-disabled{
    opacity: 0;
    cursor: default;
}
.eiw-arrow-left.slick-disabled + img,
.eiw-arrow-right.slick-disabled + img,
.eiw-arrow-left.slick-hidden + img,
.eiw-arrow-right.slick-hidden + img {
    visibility: hidden; /* keep animation in sync */
}
.eiw-dots {
    float: right;
    margin-right: 1.1em;
    font-size: 1.4em;
    margin-top: -0.35em;
    /*height: 2.5em;*/
}
.eiw-dots ul {
    padding-left: 0;
}
.eiw-dots li {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    list-style: none;
    border: 1px solid #ffa02f;
    border-radius: 4em;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.5s;
}
.eiw-dots li.slick-active,
.eiw-dots li.slick-active button {
    background: #ffa02f;
    cursor: default;
}
.eiw-dots li:hover {
    background: #ffa02f;
}
.eiw-dots li button {
    margin-top: -0.6em;
    margin-left: -0.3em;
    font-size: 10em;
    opacity: 0;
    cursor: pointer;
}
@media (max-width: 1372px), (max-height: 800px) {
    .eiw-content {
        margin-top: 1.25em;
    }
}
@media (max-width: 980px), (max-height: 800px) {
    .eiw-content {
        margin-top: 1em;
    }
    .eiw-arrows > img {
        margin-top: -193px;
        width: 52px;
        height: 80px;
    }
    .eiw-arrow-glow-right,
    .eiw-arrow-right {
        margin-left: 487px;
    }
    .eiw-popup {
        margin-left: -278px;
        width: 539px;
    }
    .eiw-popup > div > div {
        max-width: 539px;
    }
    .eiw-carousel .slick-slide {
        height: 303px;
    }
    .eiw-carousel .slick-slide img, .eiw-carousel .slick-slide video {
        width: 539px;
        height: 303px;
    }
}
@media (max-width: 600px), (max-height: 650px) {
    .eiw-content {
        margin-top: 1.5em;
    }
    .eiw-arrows > img {
        margin-top: -134px;
        width: 39px;
        height: 60px;
    }
    .eiw-arrow-glow-right,
    .eiw-arrow-right {
        margin-left: 319px;
    }
    .eiw-popup {
        margin-left: -185px;
        width: 359px;
    }
    .eiw-popup > div > div {
        max-width: 359px;
    }
    .eiw-carousel .slick-slide {
        height: 202px;
    }
    .eiw-carousel .slick-slide img, .eiw-carousel .slick-slide video {
        width: 359px;
        height: 202px;
    }
}
@media (max-width: 400px), (max-height: 500px) {
    .eiw-content {
        margin-top: 1.5em;
    }
    .eiw-arrows > img {
        margin-top: -85px;
        width: 26px;
        height: 40px;
    }
    .eiw-arrow-glow-right,
    .eiw-arrow-right {
        margin-left: 213px;
    }
    .eiw-popup {
        margin-left: -126px;
        width: 239px;
    }
    .eiw-popup > div > div {
        max-width: 239px;
    }
    .eiw-carousel .slick-slide {
        height: 135px;
    }
    .eiw-carousel .slick-slide img, .eiw-carousel .slick-slide video {
        width: 239px;
        height: 135px;
    }
}


/* Background Images */

.eiw-bkgnd-a,
.eiw-bkgnd-b {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; /* will be set by JavaScript */
    height: 400px; /* will be set by JavaScript */
    background: #09357A;
    cursor: grab;
}
.eiw-bkgnd-a img,
.eiw-bkgnd-b img {
    position: absolute;
}
            .eiw-bkgnd-a { opacity: 0; transition: opacity 0.5s 0.5s; }
.eiw-view-a .eiw-bkgnd-a { opacity: 1; transition: opacity 0.5s; }
            .eiw-bkgnd-b { opacity: 1; transition: opacity 0.5s; }
.eiw-view-a .eiw-bkgnd-b { opacity: 0; transition: opacity 0.5s 0.5s; }


/* Header */

.eiw-header-a,
.eiw-header-b,
.eiw-rtn2map {
    position: absolute;
    transition: opacity 0.5s, margin-top 0.3s cubic-bezier(0, 1.2, 1, 1.2);
    text-transform: uppercase;
    color: #fff;
    z-index: 40;
}
.eiw-header-a,
.eiw-header-b {
    top: 0.2em;
    right: 0.4em; /* will be moved to right-edge of bkgnd by JavaScript */
    color: #fff;
    z-index: 40;
}
.eiw-rtn2map {
    left: 200px; /* will be moved to right-edge of sdebar by JavaScript */ 
    top: 0.5em;
    margin-left: 0.8em;
    cursor: pointer;
    background: rgba(255,255,255,0.2);
}
.eiw-rtn2map .eiw-dismiss { /* see `eiw-popup` for complete definition */
    float: left;
}
.eiw-rtn2map:hover .eiw-dismiss {
    background: #09357A;
}
.eiw-rtn2map >div {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
}
@media (max-width: 400px) {
    .eiw-rtn2map >div {
        display: none;
    }
}

            .eiw-header-a { opacity: 0; }
.eiw-view-a .eiw-header-a { opacity: 1; }
            .eiw-header-b { opacity: 1; }
.eiw-view-a .eiw-header-b { opacity: 0; }
            .eiw-rtn2map  { opacity: 1; }
.eiw-view-a .eiw-rtn2map  { opacity: 0; margin-top: -5em; }


/* Sidebar */

.eiw-sidebar {
    position: absolute;
    display: table;
    top: 0;
    height: 100%;
    left: 0;
    width: 100px; /* will be changed to the correct width by JavaScript */
    background: #fff;
    font-size: 70%;
    text-transform: uppercase;
    z-index: 30;
}
.eiw-sidebar > div {
    display: table-row;
}
.eiw-sidebar > div > div {
    display: table-cell;
    height: 5em; /* `.eiw-instructions` has height set to `auto` */
    vertical-align: middle;
}
.eiw-sidebar > div > div > div {
    overflow: hidden;
}
/*@media (min-height: 500px) {
    .eiw-tagmenu, 
    .eiw-xtramenu {
        bottom: 10.5em;
    }
    .eiw-sidebar {
        font-size: 80%;
    }
}
@media (min-height: 650px) {
    .eiw-tagmenu, 
    .eiw-xtramenu {
        bottom: 12em;
    }
    .eiw-sidebar {
        font-size: 90%;
    }
}
@media (min-height: 700px) {
    .eiw-tagmenu, 
    .eiw-xtramenu {
        bottom: 13em;
    }
    .eiw-sidebar {
        font-size: 100%;
    }
}*/

.eiw-button span {
    cursor: pointer;
}
.eiw-tagmenu-toggle > div {
    cursor: pointer;
    background: #ffa02f;
    color: #fff;
}
.eiw-tagmenu-toggle > div > span {
    display: table;
    width: 100%;
    height: 5em;
}
.eiw-tagmenu-toggle > div > span > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.eiw-tagmenu-toggle .eiw-text {
    padding: 0 0.5em;
    font-size: 1.5em;
}
.eiw-tagmenu-toggle .eiw-icon {
    width: 5em;
}
.eiw-tagmenu-toggle .eiw-icon > img {
    float: left;
    width: 5em;
    height: auto;
    transition: opacity 0.5s;
}
.eiw-tagmenu-toggle .eiw-icon > img.eiw-hover {
    margin-left: -5em;
    opacity: 0;
}
.eiw-tagmenu-toggle eiw-text:hover {
    color: red!important;
}
.eiw-tagmenu-toggle:hover      .eiw-icon > img.eiw-default,
.eiw-tagmenu-toggle.eiw-active .eiw-icon > img.eiw-default {
    opacity: 0;
}
.eiw-tagmenu-toggle:hover      .eiw-icon > img.eiw-hover,
.eiw-tagmenu-toggle.eiw-active .eiw-icon > img.eiw-hover {
    opacity: 1;
}

.eiw-xtramenu-toggle > div {
    background: #09357A;
    color: #fff;
    cursor: pointer;
}
.eiw-xtramenu-toggle > div > span {
    display: table;
    width: 100%;
    height: 5em;
}
.eiw-xtramenu-toggle > div > span > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.eiw-xtramenu-toggle .eiw-text {
    padding: 0 0.5em;
    font-size: 1.5em;
}
.eiw-xtramenu-toggle .eiw-icon {
    width: 5em;
}
.eiw-xtramenu-toggle img {
    float: left;
    width: 5em;
    height: auto;
    transition: opacity 0.5s;
}
.eiw-xtramenu-toggle .eiw-icon > img.eiw-hover {
    margin-left: -5em;
    opacity: 0;
}
.eiw-xtramenu-toggle:hover      .eiw-icon > img.eiw-default,
.eiw-xtramenu-toggle.eiw-active .eiw-icon > img.eiw-default {
    opacity: 0;
}
.eiw-xtramenu-toggle:hover      .eiw-icon > img.eiw-hover,
.eiw-xtramenu-toggle.eiw-active .eiw-icon > img.eiw-hover {
    opacity: 1;
}

.eiw-changeview > div {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 5em;
    height: 8.5em;
    padding: 0.2em 0.5em 0.5em;
    margin-top: -0.5em;
    text-align: center;
    background: #ffa02f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
}
.eiw-changeview > div:hover {
    background: #09357A;
}
.eiw-changeview img {
    width: 5em;
    height: auto;
}

.eiw-sidebar > div > div.eiw-instructions {
    height: auto; /* override height `1px` */
    vertical-align: bottom;
    padding-bottom: 2em;
}

.eiw-instructions > div {
    padding-top: 1em;
    text-align: center;
    background: #fff;
    color: #ffa02f;
}
.eiw-instructions img.eiw-icon-pin {
    width: 2em;
    height: auto;
}
.eiw-instructions .eiw-icon-logo {
    display: block;
}
.eiw-instructions .eiw-icon-logo img {
    width: 16em;
    height: auto;
}
.eiw-instructions .eiw-text {
    display: inline-block;
    margin-left: -0.5em;
    padding: 1em;
    font-size: 1.3em;
}
/*@media (max-width: 400px) and (max-height: 500px), (min-width: 1372px) and (min-height: 700px) {
    .eiw-instructions img.eiw-icon-pin {
        width: 2.2em;
    }
    .eiw-instructions img.eiw-icon-logo {
        width: 4em;
        padding-left: 1.5em;
    }
    .eiw-instructions .eiw-text {
        font-size: 1.4em;
    }
}
@media (min-width: 1568px) and (min-height: 800px) {
    .eiw-instructions img.eiw-icon-pin {
        width: 2.4em;
    }
    .eiw-instructions img.eiw-icon-logo {
        width: 5em;
        padding-left: 2em;
    }
    .eiw-instructions .eiw-text {
        font-size: 1.6em;
    }
}
*/



/* Common elements in Tagmenu and Xtramenu */
.eiw-tagmenu,
.eiw-xtramenu {
    background: #fff!important;
    overflow-y: auto;
    height: 100px; /* will be set by JavaScript when un-minimized */
    transition: height 0.5s; 
}
.eiw-section {
    height: 100px; /* will be set by JavaScript when un-minimized */
    transition: height 0.5s;
    overflow: hidden;
}
.eiw-tagmenu.eiw-min,
.eiw-xtramenu.eiw-min,
.eiw-section.eiw-min {
    height: 0px;
    overflow: hidden;
}
.eiw-tagmenu > div,
.eiw-xtramenu > div {
    padding: 0;
}
.eiw-tagmenu .eiw-icon-logo,
.eiw-xtramenu .eiw-icon-logo {
    margin: 2em 0 1em;
    text-align: center;
}
.eiw-tagmenu .eiw-icon-logo img,
.eiw-xtramenu .eiw-icon-logo img {
    width: 8em;
    height: auto;
}
.eiw-tagmenu h3,
.eiw-xtramenu h3 {
    margin-top: 0;
    padding-top: 1em;
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
    color: #09357A;
}
.eiw-tagmenu h4,
.eiw-xtramenu h4 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.7em 0 0.7em 1em;
    outline: none!important;
    cursor: pointer;
    color: #09357A;
    transition: background 0.5s;
}
.eiw-tagmenu h4:hover,
.eiw-xtramenu h4:hover {
    color: #fff;
}



/* Tagmenu */
.eiw-tagmenu {
    border-left: 1.5em solid #ffa02f;
}
.eiw-tagmenu ul {
    margin: 0;
    padding-left: 3.2em;
}
.eiw-tagmenu ul li {
    padding: 0.4em 1em 0.4em 0.15em;
    font-size: 1.8em;
    color: #fff;
    font-weight: bold;
    text-transform: none;
    cursor: pointer;
    transition: color 0.5s, height 0.3s;
}
.eiw-tagmenu ul li.eiw-active,
.eiw-tagmenu ul li:hover {
    text-decoration: underline;
}
.eiw-tagmenu ul li:last-child {
    padding-bottom: 1em;
}
.eiw-tagmenu h4 {
    vertical-align: middle;
}
.eiw-tagmenu h4.eiw-active {
    color: #fff;
}
.eiw-tagmenu h4 > img {
    float: left;
    margin: -0.2em 0 0 -0.2em;
    width: 1.2em;
    height: auto;
    opacity: 0;
}
.eiw-tagmenu h4 > img.eiw-default {
    opacity: 1;
}
.eiw-tagmenu h4 > img.eiw-hover {
    margin-left: -1.2em;
    padding-right: 0.5em;
}
.eiw-tagmenu h4:hover      > img.eiw-default,
.eiw-tagmenu h4.eiw-active > img.eiw-default {
    opacity: 0;
}
.eiw-tagmenu h4:hover      > img.eiw-hover,
.eiw-tagmenu h4.eiw-active > img.eiw-hover {
    opacity: 1;
}
.eiw-tagmenu .eiw-color-cyan:hover,
.eiw-tagmenu .eiw-color-cyan.eiw-active,
.eiw-tagmenu .eiw-color-cyan ul {
    background: #005aba;
}
.eiw-tagmenu .eiw-color-green:hover,
.eiw-tagmenu .eiw-color-green.eiw-active,
.eiw-tagmenu .eiw-color-green ul {
    background: #509e30;
}
.eiw-tagmenu .eiw-color-lime:hover,
.eiw-tagmenu .eiw-color-lime.eiw-active,
.eiw-tagmenu .eiw-color-lime ul {
    background: #a8b614;
}
.eiw-tagmenu .eiw-color-navy:hover,
.eiw-tagmenu .eiw-color-navy.eiw-active,
.eiw-tagmenu .eiw-color-navy ul {
    background: #09357A;
}
.eiw-tagmenu .eiw-color-orange:hover,
.eiw-tagmenu .eiw-color-orange.eiw-active,
.eiw-tagmenu .eiw-color-orange ul {
    background: #fe5715;
}
.eiw-tagmenu .eiw-color-peach:hover,
.eiw-tagmenu .eiw-color-peach.eiw-active,
.eiw-tagmenu .eiw-color-peach ul {
    background: #fe9f2f;
}



/* Xtramenu  */
.eiw-xtramenu {
    border-left: 1.5em solid #09357A;
}
.eiw-xtramenu h4 {
    margin: 0;
}
.eiw-xtramenu h4:hover {
    background: #09357A;
}
